.container {
  background-color: #f7f7f8;
  padding: 10px 20px;
  border-radius: 20px;
}
.container section {
  display: grid;
}
.container section:first-child {
  grid-template-columns: repeat(3, 1fr);
}
.container section:last-child {
  margin-top: 10px;
  grid-template-columns: 1fr 2fr;
  column-gap: 10px;
  row-gap: 10px;
}
.container section > div {
  display: flex;
  align-items: center;
}

.logo {
  width: 55px;
  height: 55px;
  border: 1px dotted black;
  border-radius: 50%;
  padding: 2px;
  grid-row-start: 1;
  grid-row-end: 3;
}
.logo img {
  width: 100% !important;
  border-radius: 50%;
}
.container img {
  width: 14.5px;
}
.container h6,
.link a {
  font-family: IRANSansXFaNum, Arial, Helvetica, sans-serif;
  font-size: 8px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: right;
  margin-right: 3px;
}
.container p {
  font-family: IRANSansX;
  font-size: 5px !important;
  font-weight: 500 !important;
  line-height: 7px !important;
  letter-spacing: 0em;
  text-align: center;

  color: #197265;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons button {
  font-family: IRANSansX;
  font-size: 8px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: center;
  border: 1.5px solid #197265;
  border-radius: 10px;
  padding: 3px 6px;
  color: #197265;
  margin-right: 5px;
}
.activeButton {
  background-color: #197265;
  color: #fff !important;
}
@media (min-width: 1024px) {
  .logo {
    width: 92px !important;
    height: 92px !important;
  }
  .container h6 {
    font-family: IRANSansX;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: right;
  }
  .container img {
    width: 24px;
  }
  .container p {
    font-family: IRANSansX;
    font-size: 8px !important;
    font-weight: 500 !important;
    line-height: 12px !important;
    letter-spacing: 0em;
    text-align: center !important;
  }
  .buttons button {
    font-family: IRANSansX;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
  }
}
