.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 5px;
}
.container h6 {
  font-family: IRANSansXFaNum;
  font-size: 10px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
}
.container div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container div:nth-child(5) {
  background-color: #d9fff3;
  color: #189e75;
  border-radius: 8px;
}

@media (min-width: 1024px) {
  .container h6 {
    font-family: IRANSansXFaNum, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
  }
}
