.container {
  display: flex;
  flex-direction: column;
  background-color: #c3d5df;
  padding: 5px 1rem;
  border-radius: 5px;
  border: 2px dashed rgb(255, 255, 255);
}
.container textarea {
  margin: 5px 0;
  border-radius: 8px;
  resize: vertical;
  padding: 5px;
}
