.container {
  height: 100%;
  margin: 2rem;
}

.chat {
  height: 83%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chatDisplay {
  height: 80%;
  border: 2px solid rgb(2, 48, 71);
  border-radius: 14px;
  overflow-y: scroll;
  position: relative;
}
.msgRow {
  display: flex;
  padding: 0.75rem;
}

.msgRowClient {
  justify-content: flex-end;
}
.msgRowServer {
  justify-content: flex-start;
}

.msg {
  padding: 0.5rem;
  border: 1px solid rgb(203 213 225);
}
.msgClient {
  background-color: rgb(226 232 240);
  border-radius: 10px 10px 10px 0;
}
.msgServer {
  background-color: rgb(2, 48, 71);
  color: #fff;
  border-radius: 10px 10px 0 1px;
}

.chatInput {
  background-color: rgb(226 232 240);
  height: 15%;
  border: 2px solid rgb(2, 48, 71);
  border-radius: 12px;
  overflow: hidden;
}
.chatInput textarea {
  width: 100%;
  height: 100%;
  resize: none;
  padding: 0.25rem;
  background-color: rgb(226 232 240);
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
}
.action button {
  background-color: rgb(142 202 230);
  padding: 0.25rem 1.5rem;
  border-radius: 18px;
  font-family: IRANSansX, Arial, Helvetica, sans-serif;
  border: none;
}
